@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

html {
  scrollbar-width: none;
}
.App {
  font-family: "Poppins", sans-serif;
margin-top: auto;
  height: 100vh;
  background-image: url("../public/images/BackGround.jpg");
  background-size: cover;
}
.App > .container {
  height: 100vh;
}
.RowMain {
  height: 100vh;
}

.btn-color {
  background-color: #0e1c36;
  color: #fff;
}
.m-auto {
  margin: auto !important;
}
.profile-image-pic {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
}
.alert {
  display: none;
}
.success-container {
  text-align: center;
}
.profile {
  margin: auto;
  padding: 20px;
}
.profile-container {
  margin: auto;
  padding: 30px;
}
.logo {
  width: 90%;
  margin: auto;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.3;
}
.form-error {
  color: red;
  font-size: 12px;
}

.dropdown-menu {
  top: 100%;
  right: 0;
  margin-top: var(--bs-dropdown-spacer);
}
.para {
  color: black;
}
.navbarBrand {
  width: 110px;
}
.nav-link {
  font-weight: 600;
  font-size: 16px;
}
.navbar a:focus {
  color: rgba(0, 0, 0, 0.9) !important;
}


.UpdateImg div {
  width: 110px;
  height: 110px;
}
.UpdateImg > div > img {
  display: inline-block;
  height: 110px;
  object-fit: contain;
}

.containerX {
  display: flex;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  flex-direction: column;
}
.containerX > img {
  width: 100%;
  height: 75%;
  object-fit: contain;
}
.containerX > .btnX {
  padding: 2px;
  border-radius: 0px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.CursorType{
  cursor: pointer;
}
.carousel {
  border: 2px solid black;
  border-radius: 5px;
}
.d-flex{
  align-items: center;
}
  